@import "tailwindcss";

@theme{
    --color-lemonchiffon: #FEF9C2;
    --color-uranianblue: #BCE7FD;
    --color-lilac: #C492B1;
    --color-raspberry: #AF3B6E;
}

body {
  background: var(--color-raspberry);
  color: var(--color-uranianblue);
  font-family: Roboto, Helvetica, sans-serif;
}
